*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#clock {
   position: absolute;
   top: 50%;
   left: 40%;
   transform: translateX(-50%),translateY(-50%);
   color: #17D4FE;
   border:2px solid #17D4FE;
   font-family:  Orbitron;
   font-size: 70px;
   letter-spacing: 7px;

}
#clock:hover{
    background-color: #17D4FE;
    color: white;
}
